@charset "UTF-8";


/* Sub Content */
.container {
	padding-top: 94px;
}
.main .container {
	padding-top: 0px; !important
}
.sub {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 100px 40px 200px;
}

/* Sub Visual */
.visual-sub {
	position: relative;
	width: 100%;
	height: 345px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
.visual-sub.cate1 {
	background-image: url(../../images/bg/sub-visual-cate1.jpg);
}
.visual-sub.cate2 {
	background-image: url(../../images/bg/sub-visual-cate2.jpg);
}
.visual-sub.cate3 {
	background-image: url(../../images/bg/sub-visual-cate3.jpg);
}
.visual-sub.cate4 {
	background-image: url(../../images/bg/sub-visual-cate4.jpg);
}
.visual-sub.cate5 {
	background-image: url(../../images/bg/sub-visual-cate5.jpg);
}
.visual-sub p {
    position: absolute;
	top: 0px;
	left: 0px;
    z-index: 0;
	width: 100%;
	height: 100%;
}
.visual-sub:after {
    content: '';
    position: absolute;
    left: 0px;
	bottom: 0;
    width: 100%;
    height: 55px;
    z-index: 0;
    background: rgba(0,0,0,0.3);
}
.visual-sub .inner {   
	overflow: visible;
	position: relative;
    z-index: 1;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Location */
.location > li {
    position: relative;
    float: left;
	min-height: 55px;
    padding: 17px 30px 17px;
    color: #fff;
	font-size: 15px;
	border-right: 1px solid rgba(255,255,255,0.2)
}
.location > li:first-child {
	width: 55px;
    padding: 17px 0 17px;
	color: #fff;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,0.2)
}
.location li:last-child {
	width: 232px;
}
.location li.drop-down {
    position: relative;
	width: 232px;
	padding: 0px;
}
.location li.drop-down .d-toggle {
    position: relative;
    display: block;
    min-height: 55px;
    line-height: 21px;
    padding: 17px 30px 17px;
    font-weight: normal;
    cursor: pointer;
}

.location li.drop-down .d-toggle:after {
    content: "\f0d7";
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -7px;
	font: normal normal normal 14px/1 FontAwesome;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;	
}
.location li.drop-down ul {
	display: none;
	position: absolute;
    top: 56px;
    left: 0px;
    width: 100%;
	border: 1px solid #e7e7e7;
	background: #fff;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.location li.drop-down ul {
    	top: 55px;
	}
}
.location li.drop-down ul li a {
	display: block;
	min-height: 55px;
    padding: 17px 30px 17px;
	color: #111;
	font-size: 15px;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;	
}
.location li.drop-down ul li a:hover {
	background: #e7e7e7
}

/* Title */
.title-cate {
	display: block;
	padding-top: 110px;
	padding-bottom: 105px;
	color: #fff;
	font-size: 56px;
	font-weight: normal
}
.title-sub {
	position: relative;
	margin-bottom: 85px;
	padding-bottom: 30px;
	color: #222;
	font-size: 36px;
	text-align: center;
}
.title-sub:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 30px;
	height: 1px;
	margin-left: -15px;
	border-top: 1px solid #4e4e4e
}

/* Table */
.table-view {
    margin-bottom: 20px;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.table-view th {
	min-height: 40px;
	padding: 0px 10px;
	color: #555;
	font-weight: normal;
    text-align: center;
    background-color: #f5f5f5;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.table-view td {
	min-height: 40px;
	padding: 6px 20px;
	color: #555;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.table-view + strong.dot {
	margin-top: 40px;
}

/* Hgroup */
.sub hgroup {
	height: 370px;
	padding-top: 15px;
	background-repeat: no-repeat;
	background-position: right top;
}
.sub hgroup:before {
	content: '';
	position: absolute;
	top: 773px;
	left: 0px;
	z-index: -1;
	width: 70%;
	height: 300px;
	background: #eff0f1;
}
.sub hgroup:after {
	content: '';
	position: absolute;
	top: 703px;
	right: 0px;
	z-index: -1;
	width: 50%;
	height: 300px;
	background: #eff0f1;
}
.sub hgroup h2 {
	position: relative;
	padding-bottom: 50px;
	color: #111;
	font-size: 24px;    
	letter-spacing: 5px;
	font-weight: normal;
	text-transform: uppercase;
}
.sub hgroup h2:after {
	content: '';
	position: absolute;
	left: -80px;
	bottom: 0px;
	width: 160px;
	border-top: 1px solid #127ab7
}
.sub hgroup p {
	padding-top: 30px;
	color: #555;
	line-height: 2em
}

/* Ceo */
.sub .ceo {
	background: url('../../images/thumb/img-ceo.png') no-repeat right bottom;
}
.sub .ceo strong {
	display: block;
	margin-bottom: 50px;
	color: #111;
	font-size: 24px;
	font-weight: normal;
}
.sub .ceo p {
	margin-bottom: 20px;
	color: #333;
	font-size: 15px;
	line-height: 1.7em;
}
.sub .ceo p + p {
	margin-bottom: 40px;
}
.sub .ceo em {
	display: block;
	color: #666;
	font-size: 15px;
}
.sub .ceo em strong {
	display: inline;
	color: #111;
	font-size: 16px;
	font-weight: 700;
}

/* Business */
.sub .si hgroup {
	background-image: url('../../images/bg/bg-sub-si.jpg');
}

/* Solution */
.sub .map-prime hgroup {
	background-image: url('../../images/bg/bg-sub-mapprime.jpg');
}

/* Client */
.sub .client {
	height: auto;
}
.sub .client h2 {
	margin-bottom: 35px;
	color: #111;
	font-size: 24px;
	font-weight: normal;
}
.sub .client ul {
	overflow: hidden;
	margin-bottom: 70px;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
}
.sub .client ul li {
	float: left;
	position: relative;
	overflow: hidden;
	width: 12.5%;
	height: 99px;
	border-bottom: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}
.sub .client ul li img {	
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -85px;
	z-index: -1;
}

/* Recruit */
.sub .recruit {
	height: auto;
}
.sub .recruit .hgroup {
	position: relative;
	border-bottom: 1px solid #e7e7e7;
}
.sub .recruit .hgroup p {
	margin-bottom: 40px;
	color: #555;
	font-size: 15px;
	text-align: center;
}
.sub .recruit .hgroup .step {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 50px;
	text-align: center;
	background: url(../../images/bg/bg-recruit-step.png) no-repeat top;
}
.sub .recruit .hgroup .step li {
	display: table;
	float: left;
	position: relative;
	width: 20.7%;
	height: 187px;
	margin-right: 5.8%;
}
.sub .recruit .hgroup .step li span {
	display: table-cell;
    width: 100%;
    vertical-align: middle;
	color: #111;
	font-size: 24px;
}
.sub .recruit .hgroup .step li.step4 {  
	width: 20.5%;
	margin-right: 0px;
}
/*
.sub .recruit .hgroup .step li {
	background: url('../../images/bg/bg-step-arrow.png') no-repeat right center;
}
.sub .recruit .hgroup .step li span {
	border-radius: 50%;
	background: #e2eeeb;
	border: 24px solid #fff;
}
.sub .recruit .hgroup .step li:before {
	content: '';
	position: absolute;
	top: 0px; 
	right: 41px;
	z-index: 0;
	width: 187px;
	height: 187px;
	border-radius: 50%;
	border: 1px dashed #bcd8d0;
}
.sub .recruit .hgroup .step li.step1:before {
	border-color: #b6d4cc;		
}
.sub .recruit .hgroup .step li.step1 span {
	background-color: #e2eeeb;
}
.sub .recruit .hgroup .step li.step2:before {
	border-color: #b5d9db;		
}
.sub .recruit .hgroup .step li.step2 span {
	background-color: #e1f0f1;	
}
.sub .recruit .hgroup .step li.step3:before {
	border-color: #c2cce5;	
}
.sub .recruit .hgroup .step li.step3 span {
	background-color: #e7ebf5;	
}
.sub .recruit .hgroup .step li.step4 {   
	margin-right: 0px;
    padding-right: 0px;
	background: none; 
}
.sub .recruit .hgroup .step li.step4:before {   
	right: 0;
	border-color: #aacfe4;	
}
.sub .recruit .hgroup .step li.step4 span {
	background-color: #ddecf4;	
}*/
.sub .recruit ul.table > li .table-th {
	width: 255px;
}
.sub .recruit ul.table > li .table-td strong.dot {
	margin-bottom: 15px;
}

/* Map */
.sub .map h2 {
    clear: both;
    margin-bottom: 20px;
    color: #111111;
    font-size: 20px;
}
.sub .map dl {
    overflow: hidden;
    margin-bottom: 30px;
}
.sub .map dt {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #111;
    font-size: 14px;  
    font-weight: bold;
}
.sub .map dt.clear {
    clear: left;
}
.sub .map dd {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;    
}
.sub .map > div {
    margin-bottom: 90px;
    border: 1px solid #e7e7e7;
}
.sub .map .map-marker {
    padding: 10px;
    text-align: center;
}
.sub .map .map-marker img {
    width: 70px;
}
.sub .map .map-marker strong {
    display: block;
    margin-top: 10px;
    color: #54799e;
    font-size: 12px;
}

/* Site Map */
.site-map {
	padding: 100px 0 200px;
	background: #fbfbfb;
}
.site-map nav > ul {
	overflow: hidden;
}
.site-map nav > ul > li {
	overflow:hidden;
	float: left;
	width: 33.3%;
	padding: 0 20px;
	border: 0px;
}
.site-map nav .nav-title {
	display: block;
	float: none;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e7e7e7;
} 
.site-map nav .nav-title span {
	font-family: "맑은고딕","맑은 고딕", Malgun Gothic, MalgunGothic, Helvetica, Arial, sans-serif;
    font-size: 17px;
}
/*.site-map nav .nav-title em {
	color: #5f88dd;
}*/
.site-map nav .sub-menu {
	float: none;
}
.site-map nav .sub-menu li {
	float: none;
	margin-bottom: 20px;
}


@media (max-width:1400px) {
/* Sub */
	.title-cate  {
		padding-left: 40px;
	}
	/* List */
	ul.list-box > li strong {
		font-size: 16px;
	}
	
	/* Ceo */
	.sub .ceo {
		background-size: 50% auto;
	}
	
	/* Si */
	.sub hgroup {
		background-position: 550px top;
	}
	.sub hgroup:after {
		right: auto;
		left: 600px;
	}
	ul.table > li .table-td figure.thumb {
		width: 48%;
	}
	ul.table > li .table-td figure.thumb img {
		width: 100%;
	}
	ul.table > li .table-td div.thumb.ea3 img {
		width: 30%
	}
	ul.table > li .table-td div.thumb .center {
		margin: 0px 5%;
	}
	
	/* Recruit */
	.sub .recruit ul.table > li {
		margin-top: 50px;
	}
	.sub .recruit ul.table > li .table-th,
	.sub .recruit ul.table > li .table-td {
		display: block;
		width: 100%;
		padding: 0px;
		border: 0px;
	}
}
@media (max-width:1000px) {
	/* Sub */
	.sub hgroup:before {
		width: 90%;
	}
	ul.list-box > li {
		padding: 20px 20px;
	}
	ul.list-box > li {
		height: 230px;
		padding: 20px 20px;
	}
	ul.list-dot.inline li {
		float: none;
		margin-left: 0px;
	}
	
	/* Ceo */
	.sub .ceo {
		padding-top: 600px;
		background-position: center top;
		background-size: 500px auto;
	}
	.sub .ceo p br {
		display: none;
	}
	
	/* Si */
	ul.table > li .table-td figure.left,
	ul.table > li .table-td figure.right,
	ul.table > li .table-td figure.center {
		float: none;
		margin-left: 0px;
	}
	ul.table > li .table-td figure.thumb {
		width: 100%;
	}
	
	/* Client */
	.sub .client ul li {
		width: 16.66%;
	}
	
	/* Recruit */
	.sub .recruit .hgroup .step {
		max-width: 600px;
		background-size: 100% auto;
	}
	.sub .recruit .hgroup .step li {
		height: 124px;
	}
	.sub .recruit .hgroup .step li span {
		font-size: 16px;
	}
	.sub .recruit .table li:last-child .list-box li {
		height: 190px;
	}
}

@media (max-width:768px) {	
	/* Sub */
	.container {
		padding-top: 60px;
	}
	.sub {
	    padding: 50px 20px 50px;	
	}
	.visual-sub {
		height: 200px;
	}
	ul.list-box > li {
		width: 48.5%;
	}
	ul.list-box > li:nth-child(3n+1) {
		margin-left: 1.5%;
	}
	ul.list-box > li:nth-child(2n+1) {
		margin-left: 0px;
	}
	
	/* Hgroup */
	.sub hgroup {
		position: relative;
		padding-right: 25%;
		background-image: none !important;
	}
	.sub hgroup:before {
		top: 70px;
		left: -20px;
	}
	.sub hgroup:after {
		top: 0px;
		right: auto;
		left: 80%;
		background: url(../../images/bg/bg-sub-si.jpg) no-repeat left top;
	}
	.sub hgroup h2 {   
		height: 77px;
    	padding-bottom: 0px;
    	font-size: 20px;
	}
	.sub hgroup p br {
		display: none;
	}

	/* Location */
	.location > li {
		font-size: 13px;
		padding: 17px 10px 17px;
	}
    .location li:last-child,
	.location li.drop-down {
		width: 170px;
	}
	.location li.drop-down .d-toggle {
		padding: 17px 10px 17px;
	}
	.location li.drop-down .d-toggle:after {
		right: 10px;
	}
	.location li.drop-down ul li a {
		min-height: 40px;
		padding: 10px 10px 10px;
		font-size: 13px;
	}
	
	.title-cate {
		padding-top: 55px;
		padding-left: 20px;
    	padding-bottom: 53px;
    	font-size: 28px;
	}
	.title-sub {
		margin-bottom: 43px;
		padding-bottom: 15px;
		font-size: 27px;
	}
	
	/* Ceo */
	.sub .ceo {
		padding-top: 350px;
		background-position: center top;
		background-size: 280px auto;
	}
	.sub .ceo strong {    
		margin-bottom: 25px;
		font-size: 16px;
	}
	.sub .ceo p {
		margin-bottom: 15px;
		font-size: 12px;		
	}
	.sub .ceo p + p {
		margin-bottom: 30px;
	}
	.sub .ceo em {
		font-size: 12px;			
	}
	.sub .ceo em strong {
		font-size: 13px;			
	}
	
	/* Client */
	.sub .client h2 {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.sub .client ul {
		margin-bottom: 40px;
	}
	
	.sub .client ul li {
		width: 25%;
	}
	
	/* Site Map */
	.site-map nav > ul > li {
		width: 50%;
		margin-bottom: 20px;
	}
	
}



@media (max-width:640px) {
	/* Sub */
	.sub .recruit .hgroup p br {
		display: none;
	}
	.sub .recruit .hgroup .step {
		max-width: 320px;
	}
	.sub .recruit .hgroup .step li {
		height: 65px;		
	}
	.sub .recruit .hgroup .step li span {
		font-size: 12px;
	}
    
    /* Map */
    .sub .map dt {
        clear: left;
    }
    .sub .map dd {
        margin-right: 0px;
    }
	
	/* Site Map */
	.site-map {
		padding: 50px 0;
	}
	.site-map nav > ul > li {
		width: 100%;
	}
	.site-map nav .sub-menu {
		padding-left: 20px;
	}
}

@media (max-width:480px) {
	/* Sub */
	ul.list-box > li {
		width: 100%;
	}
	ul.list-box > li {
		margin-left: 0px;
		height: auto;
	}
	ul.list-box > li:nth-child(3n+1) {
		margin-left: 0px;
	}
	ul.list-box > li:nth-child(2n+1) {
		margin-left: 0px;
	}
	.sub .recruit .table li:last-child .list-box li {
		height: auto;
	}
	ul.table > li .table-th {
		display: block;
		width: 100%;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e7e7e7;
	}
	ul.table > li .table-th strong {
		padding-bottom: 10px;
	}
	ul.table > li .table-th strong.arrow:after {
		display: none;
	}
	ul.table > li .table-td {
		display: block;
		width: 100%;
		padding-left: 0px;
		border-left: 0px;
	}
	
	/* Ceo */
	.sub .ceo strong br {
		display: none;
	}
	
	/* Client */
	.sub .client ul li {
		width: 50%;
	}
}

/* Sian */
.sub.sian-full-img {
	max-width: 2000px;
	padding-left:0px;
	padding-right:0px;
}
.sub.sian-full-img img {
	width: 100%;
	max-width: 2000px;
}
.sub.sian-img img {
	width: 100%;
	max-width: 2000px;
}


